*.box
*.env
composer.lock
node_modules
npm-debug.log
/.idea
/.vagrant
/app/config/*.default.php
!/app/config/settings.default.php
/app/config/*.local.php
/app/config/settings.php
/build
/coverage
/pimple.json
/phinx.*
/phpunit.xml
/propel.*
/schema.*
/var
!/var/.placeholder
/vendor